/*
 * -------------------------------------------------
 *  Nextflow config file for AWS Batch
 * -------------------------------------------------
 * Imported under the 'awsbatch' Nextflow profile in nextflow.config
 * Uses docker for software depedencies automagically, so not specified here.
 */


params.tracedir = './'

aws {
    region = params.awsregion
    batch {
    	  cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

process {
    executor = 'awsbatch'
    queue = params.awsqueue
}