params {
    conda_activate = ". ${params.conda_init}; conda activate "
    conda_init = '~/miniconda3/etc/profile.d/conda.sh'
}

process {
    //TODO: find a cleaner way to code this? This is potentially solved by PS:
    // https://github.com/nextflow-io/nextflow/pull/1324/commits/bf0a30b3e6111cd82557803d027dfc0244b20208
    withName:"DECONT" {
        beforeScript = "${params.conda_activate} shotgunMetagenomics_fastp_v0.20.0 "
    }
    withName:"KRAKEN2|BRACKEN" {
        beforeScript = "${params.conda_activate} shotgunMetagenomics_kraken_v2.0.8 "
    }
    withName:"METAPHLAN2" {
        beforeScript = "${params.conda_activate} shotgunMetagenomics_metaphlan2_v2.7.7 "
    }
    withName:"HUMANN2.*" {
        beforeScript = "${params.conda_activate} shotgunMetagenomics_humann_v2.9 "
    }
    withName:"SPLIT_.*" {
	executor = 'local'
        time = { check_max( 1.h * task.attempt, 'time') }
	cpus = 1
    }
    withName:"SRST2" {
        beforeScript = "${params.conda_activate} shotgunMetagenomics_srst_v0.2.0 "
    }
    withName:"REPORT_.*"{
        beforeScript = "${params.conda_activate} shotgunMetagenomics_r_v3.6.0 "
    }
}

