params {
    decont_refpath = '/mnt/genomeDB/genomeIndices/hg19/bwa_index/nucleotide/'
    decont_index   = 'hg19.fa'
    kraken2_index  = '/mnt/genomeDB/misc/softwareDB/kraken2/minikraken2_v2_8GB_201904_UPDATE'
    metaphlan2_refpath = '/mnt/genomeDB/misc/softwareDB/metaphlan2/db_v20/'
    metaphlan2_pkl     = 'mpa_v20_m200.pkl'
    humann2_nucleotide = '/mnt/genomeDB/misc/softwareDB/humann2/chocophlan/'
    humann2_protein    = '/mnt/genomeDB/misc/softwareDB/humann2/uniref/'
    srst2_ref = '/mnt/genomeDB/misc/softwareDB/srst2/ARGannot_r3.fasta'
    conda_init = '/mnt/software/unstowable/miniconda3-4.6.14/etc/profile.d/conda.sh'
}


process {
    executor = 'sge'
    // clusterOptions = { '-V' }
    penv = 'OpenMP' // task.cpus = automagically added
    
    pollInterval = '30 sec'
    exitReadTimeout = "120 sec"
}
