params {
   // Test on AWS EC2 local
   decont_refpath = '/data/nucleotide/'
   decont_index   = 'hg19.fa'
   kraken2_index  = '/data/minikraken2_v2_8GB_201904_UPDATE/'
   metaphlan2_refpath = '/data/metaphlan2/'
   metaphlan2_index   = 'mpa_v20_m200'
   metaphlan2_pkl     = 'mpa_v20_m200.pkl'

}

process {
    // Process-specific resource requirements
    withName:DECONT {
        time = { check_max( 6.h * task.attempt, 'time') }
	cpus = { check_max(8, 'cpus') }
	memory = { check_max( 10.GB, 'memory') }
    }
}
