docker.enable= false
params {
   // Test on local machine
   decont_refpath = '/data/shotgunmetagenomics-pipeline/nucleotide/'
   decont_index   = 'hg19.fa'
   kraken2_index  = '/data/shotgunmetagenomics-pipeline/minikraken2_v2_8GB_201904_UPDATE/'
   metaphlan_refpath = '/home/chenhao/shotgunmetagenomics-nf/test/database/metaphlan3/'
   metaphlan_pkl     = 'mpa_v31_CHOCOPhlAn_201901.pkl'
   humann_nucleotide = '/home/chenhao/shotgunmetagenomics-nf/test/database/humann3/chocophlan/'
   humann_protein    = '/home/chenhao/shotgunmetagenomics-nf/test/database/humann3/uniref/'
   srst2_ref = '/data/shotgunmetagenomics-pipeline/srst2/ARGannot_r3.fasta'
}
process {
    // Process-specific resource requirements
    withName:"DECONT" {
        container = 'lichenhao/shotgunmetagenomics-decont:v0.0.1'
        time = { check_max( 6.h * task.attempt, 'time') }
	cpus = { check_max(4, 'cpus') }
	memory = { check_max( 6.GB * task.attempt, 'memory') }
    }
    withName:"METAPHLAN" {
        container = 'metaphlan3'
	cpus = { check_max(4, 'cpus') }
    }
    withName:"HUMANN" {
        container = 'humann3'
	cpus = { check_max(4, 'cpus') }
    }
    withName:"HUMANN_INDEX" {
        container = 'humann3'
	cpus = { check_max(4, 'cpus') }
    }
}
