docker.enable= false
params {
   // Test on AWS (EC2 local)
   read_path      = "${baseDir}/data"
   decont_refpath = '/data/nucleotide/'
   decont_index   = 'hg19.fa'
   kraken2_index  = '/data/shotgunmetagenomics-pipeline/minikraken2_v2_8GB_201904_UPDATE/'
   metaphlan2_refpath = '/data/shotgunmetagenomics-pipeline/metaphlan2/'
   metaphlan2_index   = 'mpa_v20_m200'
   metaphlan2_pkl     = 'mpa_v20_m200.pkl'
   humann2_nucleotide = '/data/shotgunmetagenomics-pipeline/humann2/chocophlan/'
   humann2_protein    = '/data/shotgunmetagenomics-pipeline/humann2/uniref/'
   srst2_ref = '/data/shotgunmetagenomics-pipeline/srst2/ARGannot_r3.fasta'
}
process {
    // Process-specific resource requirements
    withName:DECONT {
        container = 'lichenhao/shotgunmetagenomics-decont:v0.0.1'
        time = { check_max( 6.h * task.attempt, 'time') }
	cpus = { check_max(4, 'cpus') }
	memory = { check_max( 6.GB * task.attempt, 'memory') }
    }
}